modules = ["nodejs-20", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["unzipNLS"]

[userenv]

[userenv.shared]
NODE_ENV = "development"
PORT = "5000"
BETTER_AUTH_SECRET = "3eeb3b85172de3ce7507543ecb0c1df953a0db8b461c9cf34fa0f0c01ec9f60b"
BETTER_AUTH_URL = "https://7c81c8f1-3565-4b35-8ebe-0fdc46f6ec0d-00-2bsb2r8tjmohj.sisko.replit.dev"
DATABASE_TYPE = "json"
ENCRYPTION_KEY = "5a432d8b372c690b6a0289e8deada0e645780e2a309ae4fcf1c06f75c09f9486"
MONGODB_URI = "mongodb+srv://lanceajiro15:<db_password>@cluster0.xp0gtuh.mongodb.net/?appName=Cluster0"
MONGO_DATABASE_NAME = "Cluster0"
MONGO_PASSWORD = "hs6h0KTCy5UgRv"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run build --workspace=packages/web && npm run build --workspace=packages/cat-bot && npm run start --workspace=packages/cat-bot"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "run", "dev", "--workspace=packages/web"]
build = ["npm", "run", "build", "--workspace=packages/web"]
